<!-- ================================================== -->
<!--  Payee edit template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      <div class="page-text w3-display-left">Edit Payee</div>
    </div>

    <div class="w3-theme-l4" style="position: absolute; width: 100%; top: 40px; left: 0; right: 0">

      <div class="name-wrapper">
        <div class="name-container w3-card">
          <input id="name-input" class="name-input w3-input" type="text" v-model="payeeName">
        </div>
        <i @click="nameClear" class="name-clear fas fa-times w3-text-theme"></i>
        
      </div>

      <div class="save-cancel-grid">
        <div @click="save()" class="save-cancel-button w3-card" :class="[readyToSave ? 'w3-theme' : 'w3-theme-l2']">
          <div :class="[!readyToSave ? 'w3-text-dark-gray' : '']">Save</div>
        </div>
        <div @click="cancel()" class="save-cancel-button w3-card w3-theme">Cancel</div>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Payee edit script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-payee-editor',
    props: [
      'payeeToEdit'
    ],
    data () {
      return {
        payeeName: ''
      };
    },
    computed: {
      readyToSave () {
        if ((this.payeeToEdit.name === this.payeeName) || (this.payeeName === '')) {
          return false;
        }

        let ok = true;
        const allPayees = Object.keys(this.$current.dbCtrl.payees).map(k => this.$current.dbCtrl.payees[k]);

        allPayees.forEach(p => {
          if (p.id !== this.payeeToEdit.id) {
            if (p.name === this.payeeName) {
              ok = false;
            }
          }
        });
  
        return ok;
      }
    },
    methods: {
      goBack () {
        this.cancel();
      },
      nameClear () {
        this.payeeName = '';
      },
      save () {
        if (this.readyToSave) {
          this.payeeToEdit.name = this.payeeName;
          this.$emit('save');
        }
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
      this.payeeName = this.payeeToEdit.name;
    }
  };
</script>

<!-- ================================================== -->
<!--  Payee edit CSS. -->
<!-- ================================================== -->

<style scoped>
  .page-text {
    margin-left: 16px;
  }

  .name-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 10px 10px 0px 10px;
  }

  .name-label {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 8px 0px 8px 0px
  }

  .name-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .name-input {
    border: 0;
    padding: 8px 24px 8px 8px
  }

  .name-clear {
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 8px 8px 8px 16px;
  }

  .save-cancel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 8px;
    width: 100%;
    padding: 10px;
  }

  .save-cancel-button {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
</style>
