<!-- ================================================== -->
<!--  Payees template. -->
<!-- ================================================== -->

<template>
  <div>

    <payee-editor ref="payeeEdit" v-if="editingPayee" :payeeToEdit="payeeToEdit" v-on:save="savePayee" v-on:cancel="editCancel" />
    <payee-combine ref="payeeCombine" v-if="combiningPayees" :payeesToCombine="payeesToCombine" v-on:save="saveCombine" v-on:cancel="editCancel" />

    <!-- Header. -->
    <div v-show="!editing" class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">

      <!-- Back button. -->
      <div @click="goBack" class="back-button w3-display-left w3-display-container">
        <div class="w3-display-middle w3-large"><div style="margin-bottom: 3px;">«</div></div>
      </div>

      <div class="page-text w3-display-left">Payee Manager</div>

      <!-- Edit payee button. -->
      <div v-if="selectedCount === 1" @click="editPayee()" class="edit-button w3-display-right w3-theme-l2">
        <i class="fas fa-edit"></i> Edit Payee
      </div>

      <!-- Combine payees button. -->
      <div v-if="selectedCount >= 2" @click="combinePayees()" class="edit-button w3-display-right w3-theme-l2">
        <i class="fas fa-link"></i> Combine ({{selectedCount}}) 
      </div>

    </div>

    <!-- Payee sub header. -->
    <div v-show="!editing" class="section-grid w3-theme-l4" style="height:40px; position: absolute; width: 100%; top: 40px; bottom: 0; left: 0; right: 0">
      <div>Payees</div>
      <div v-if="selectedCount > 0" @click="clearSelected()" class="unselect-button">
        <i class="fas fa-times w3-text-theme"></i>
      </div>
    </div>

    <!-- Payee list. -->
    <div v-show="!editing" style="position: absolute; top: 80px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <ul class="w3-ul w3-card">
        <li @click="payeeClicked(payee.id)" v-for="payee in sortedPayees" :key="payee.id" class="bar-50 w3-display-container">

          <div v-if="payee.selected" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>

          <div class="payee-name w3-display-left">
            <div class="w3-panel">{{payee.name}}</div>
          </div>

        </li>
      </ul>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Payees script. -->
<!-- ================================================== -->

<script>
  import { Subscription } from 'rxjs/Subscription';
  import { Payee as payee } from 'financier-core-unofficial';

  import PayeeEditor from './payee-editor';
  import PayeeCombine from './payee-combine';

  let _subscriptions;

  const byName = (a, b) => {
    var nameA = a.name.toUpperCase();
    var nameB = b.name.toUpperCase();

    if (nameA < nameB) {
      return -1;
    }

    if (nameA > nameB) {
      return 1;
    }

    return 0;
  };
  
  export default {
    name: 'fm-payee-manager',
    components: {
      PayeeEditor,
      PayeeCombine
    },
    data () {
      return {
        payees: [],
        selectedCount: 0,
        payeeToEdit: null,
        payeesToCombine: [],
        editingPayee: false,
        combiningPayees: false
      };
    },
    computed: {
      sortedPayees () {
        return this.payees.sort(byName);
      },
      editing () {
        return this.editingPayee || this.combiningPayees;
      }
    },
    methods: {
      goBack () {
        if (this.editingPayee) {
          this.$refs.payeeEdit.goBack();
        } else if (this.combiningPayees) {
          this.$refs.payeeCombine.goBack();
        } else {
          this.$router.back();
        }
      },
      load () {
        const budgetId = this.$current.budgetId();
        const Payee = payee(budgetId);

        this.payees = [];
        Object.keys(this.$current.dbCtrl.payees)
          .map(k => this.$current.dbCtrl.payees[k])
          .filter(p => !p.internal)
          .forEach(p => {
            this.payees.push(p);
          });
        this.payees.forEach(p => { p.selected = false; });
        this.selectedCount = 0;

        // Subscribe directly to pouchdb changes to update the local payee list.
        _subscriptions.add(this.$db.$pouchChanged.subscribe((change) => {
          if (Payee.contains(change.id)) {
            for (let i = 0; i < this.payees.length; i++) {
              if (this.payees[i]._id === change.id) {
                if (change.deleted) {
                  if (this.payees[i].selected) {
                    this.selectedCount -= 1;
                  }
                  this.payees.splice(i, 1);
                } else {
                  this.payees[i].data = change.doc;
                }
                return;
              }
            }

            if (!change.deleted) {
              const newPayee = new Payee(change.doc);
              newPayee.subscribe(this.$current.budgetMgr().put);
              newPayee.selected = false;
              this.payees.push(newPayee);
            }
          }
        }));
      },
      clearSelected () {
        this.payees.forEach(p => { p.selected = false; });
        this.selectedCount = 0;
      },
      payeeClicked (id) {
        let i = 0;
        this.payees.forEach(p => {
          if (p.id === id) {
            p.selected = !p.selected;
          }
          if (p.selected) { i++; }
        });
        this.selectedCount = i;
      },
      editPayee () {
        this.payees.forEach(p => {
          if (p.selected) {
            this.payeeToEdit = p;
          }
        });

        if (this.payeeToEdit) {
          this.editingPayee = true;
        }
      },
      savePayee () {
        this.editingPayee = false;
        this.clearSelected();
      },
      combinePayees () {
        this.payeesToCombine = this.payees.filter(p => p.selected).sort(byName);
        this.combiningPayees = true;
      },
      saveCombine () {
        this.combiningPayees = false;
        this.clearSelected();
      },
      editCancel () {
        this.editingPayee = false;
        this.combiningPayees = false;
        this.clearSelected();
      }
    },
    mounted () {
      _subscriptions = new Subscription();

      _subscriptions.add(this.$db.$dataDestroyed.subscribe((value) => {
        this.$router.push('/');
      }));

      if (this.$current.dbCtrl === null || this.$current.dbCtrl === undefined) {
        this.$current.loadBudget(this.$route.params.budgetId, this.$db).then((dbCtrl) => {
          this.$current.dbCtrl = dbCtrl;
          this.load();
        });
      } else {
        this.load();
      }
    },
    beforeDestroy () {
      _subscriptions.unsubscribe();
    },
    beforeRouteLeave (to, from, next) {
      if (this.editing) {
        next(false);
        this.goBack();
      } else {
        next();
      }
    }
  };
</script>

<!-- ================================================== -->
<!--  About CSS. -->
<!-- ================================================== -->

<style>
  .section-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 40px;
    padding: 0px 0px 0px 10px;
    z-index: 101;
    position: relative;
  }

  .unselect-button {
    width: 40px; height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
  }

  .edit-button {
    height: 40px;
    width: 150px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .clear-button {
    height: 40px;
    width: 50px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    margin: 0px 150px 0px 0px;
  }

  .back-button {
    height: 40px;
    width: 50px;
  }

  .page-text {
    margin-left: 50px;
  }

  .bar-50 {
    height: 50px;
  }

  .payee-name {
    padding: 0px 0px 0px 24px;
  }

  .selected-check {
    font-weight: bold;
    padding: 0px 0px 0px 16px;
  }
</style>
