<!-- ================================================== -->
<!--  Account editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0;">
      <div class="w3-display-left w3-container">Account</div>
    </div>

    <!-- Save & cancel buttons -->
    <div class="w3-theme-l4" style="position: absolute; height: 74px; width: 100%; top: 40px; left: 0; right: 0">
      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>
    </div>

    <div style="position: absolute; top: 104px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <!-- On budget accounts. -->
      <div v-if="onBudgetAccounts.length > 0">
        <div class="w3-padding w3-theme-l3">On Budget Accounts</div>
        <ul class="w3-ul w3-card">
          <li @click="setAccount(_account)" v-for="(_account, key) in onBudgetAccounts" :key="key" class="bar-50 w3-display-container">
            <div v-if="_account.id === account" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>
            <div class="account-name w3-display-left">
              <div class="w3-panel">{{_account.name}}</div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Off budget accounts. -->
      <div v-if="offBudgetAccounts.length > 0">
        <div class="w3-padding w3-theme-l3">Off Budget Accounts</div>
        <ul class="w3-ul w3-card">
          <li @click="setAccount(_account)" v-for="(_account, key) in offBudgetAccounts" :key="key" class="bar-50 w3-display-container">
            <div v-if="_account.id === account" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>
            <div class="account-name w3-display-left">
              <div class="w3-panel">{{_account.name}}</div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Closed accounts. -->
      <div v-if="closedAccounts.length > 0">
        <div class="w3-padding w3-theme-l3">Closed Accounts</div>
        <ul class="w3-ul w3-card">
          <li @click="setAccount(_account)" v-for="(_account, key) in closedAccounts" :key="key" class="bar-50 w3-display-container">
            <div v-if="_account.id === account" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>
            <div class="account-name w3-display-left">
              <div class="w3-panel">{{_account.name}}</div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Account editor script. -->
<!-- ================================================== -->

<script>
  const bySort = (a, b) => a.sort - b.sort;

  export default {
    name: 'fm-account-editor',
    props: [
      'originalAccount'
    ],
    data () {
      return {
        account: null,
        accounts: []
      };
    },
    computed: {
      onBudgetAccounts () {
        return this.accounts.filter(acc => acc.onBudget && !acc.closed).sort(bySort);
      },
      offBudgetAccounts () {
        return this.accounts.filter(acc => !acc.onBudget && !acc.closed).sort(bySort);
      },
      closedAccounts () {
        return this.accounts.filter(acc => acc.closed).sort(bySort);
      }
    },
    methods: {
      goBack () {
        this.cancel();
      },
      setAccount (account) {
        this.account = account.id;
      },
      save () {
        this.$emit('save', this.account);
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
      this.account = this.originalAccount;
      this.accounts = this.$current.dbCtrl.accounts;
    }
  };
</script>

<!-- ================================================== -->
<!--  Account editor CSS. -->
<!-- ================================================== -->

<style>
  .bar-50 {
    height: 50px;
  }

  .account-name {
    padding: 0px 0px 0px 24px;
  }

  .selected-check {
    padding: 0px 0px 0px 16px;
  }
</style>